<h1>Patients</h1>

<% @patients.each do |patient| %>
  <div class = "ui large celled list">
  <div class="item">
    <%= link_to patient.full_name, patient_path(patient) %>
    </div>
    </div>
  <% end %>

  
