<h1><%= @patient.full_name %> </h1>

<%= link_to "View Appointments", patient_appointment_path(@patient)%>

<%= link_to "Edit", edit_patient_path(@patient), class: "ui violet button inverted" %>
<%= link_to "Back", patients_path, class: "ui blue button inverted" %>