<h1>Dr. <%=@doctor.full_name %></h1>

<p> I don't have anything to tell you about this doctor! </p>

<%= link_to "Edit", edit_doctor_path(@doctor), class: "ui violet button inverted" %>
<%= link_to "Back", doctors_path, class: "ui blue button inverted" %>