<nav class="ui pointing menu">
<a class = "item">
<%=link_to 'Doctors', doctors_path %>
</a>
<a class = "item">
<%=link_to 'Add Doctor', new_doctor_path %>
</a>
<a class= "item">
<%=link_to 'Patients', patients_path %>
</a>
<a class = "item">
<%=link_to "Add Patient", new_patient_path %>
</a>
</nav>